<% include partials/header%>
<h1>This is the CDRI Pharmachain Landing Page</h1>

 <header class="jumbotron">
        <div class="container">
            <h1>Welcome To PharmaChain...</h1>
           
            <a class="btn btn-primary btn-large" href="/medicines/new">Add A New Medicine</a>
            <a class="btn btn-primary btn-large" href="/medicines">List All Medicines</a>
            <a class="btn btn-primary btn-large" href="/contracts/new">Add A New Contract</a>
            <a class="btn btn-primary btn-large" href="/contracts/show">List All Contracts</a>
            <a class="btn btn-primary btn-large" href="/shipments/new">Add A New Shipment</a>
            <a class="btn btn-primary btn-large" href="/shipments/show">List All Shipments</a>
            <a class="btn btn-primary btn-large" href="/boxes/new">Add A New Box</a>
            <a class="btn btn-primary btn-large" href="/boxes/show">List All Boxes</a>
        </div>
    </header>

<% include partials/footer %>